target/
*.jar
*.war
.mvn/
mvnw
mvnw.cmd

.idea/
*.iml
.vscode/
.project
.classpath
.settings/
build/
clients/

.env
*.log
docker-compose.override.yml

.git
.gitignore

README.md
HELP.md
Dockerfile
docker-compose.yml