services:
  db:
    image: mysql:8.0
    container_name: veda-db
    restart: always
    environment:
      MYSQL_DATABASE: veda_cards
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 10
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: